@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: auto;
  padding: 0 32px;
}

.d-none {
  display: none;
}

ul {
  list-style: none;
}

input {
  border: 1px solid #ddd;
  outline: none;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 20px;
  border-radius: 4px;
}

table {
  border-collapse: collapse;
}

table,
table th,
table td {
  border: 1px solid #ddd;
}

table th,
table td {
  padding: 8px;
}

.main-container {
  max-width: 1140px;
  margin: 32px auto;
}

/* first screen  */
.grab-location-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.grab-location-heading {
  font-weight: 600;
} 

.grab-location-allow-btn,
.go-back-btn {
  width: 160px;
  background-color: coral;
  color: white;
  cursor: pointer;
}

/* second screen  */
.nearby-theaters-table,
.shows-table {
  width: 992px;
  margin: auto;
}

.nearby-theaters-heading,
.shows-heading {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 600;
}

.nearby-theaters-th,
.shows-th {
  font-weight: 600;
}

.theater-shows-form {
  display: flex;
  gap: 4px;
}

.nearby-theaters-td.err,
.shows-td.err {
  text-align: center;
} 

.what-playing-btn,
.show-on-the-map-btn {
  background-color: salmon;
  color: white;
  cursor: pointer;
}

/* third screen  */
.theater-map-wrapper-inner,
.shows-wrapper-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.theater-map {
  width: 768px;
  height: 400px;
}

/* forth screen  */

