.bg-modal{  
    /* glass effect*/
        background: rgba(255, 255, 255, 0.21);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11.4px);
        -webkit-backdrop-filter: blur(11.4px);
        border: 1px solid rgba(255, 255, 255, 1);
    } 
    .error{
        border: 2px solid red !important;
    }
     